<!--

<br>

<h2>New review for <strong><%= @restaurant.name %></strong></h2>

<br>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating,
              collection: 0..5,
              prompt: "Please select a number"  %>
  <%= f.input :content %>
  <%= f.submit "Submit", class: "btn btn-primary"%>
 <% end %>
 %>

 -->
